In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

## Create DataFrame from JSON

In [4]:
df = spark.read.json("../Example_Sources/zipcodes.json")
df.printSchema()
df.toPandas().head()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

,City,Country,Decommisioned,EstimatedPopulation,Lat,Location,LocationText,LocationType,Long,Notes,RecordNumber,State,TaxReturnsFiled,TotalWages,WorldRegion,Xaxis,Yaxis,Zaxis,ZipCodeType,Zipcode
0,PARC PARQUE,US,False,NaN,17.96,NA-US-PR-PARC PARQUE,"Parc Parque, PR",NOT ACCEPTABLE,-66.22,None,1,PR,NaN,NaN,NA,0.38,-0.87,0.30,STANDARD,704
1,PASEO COSTA DEL SUR,US,False,NaN,17.96,NA-US-PR-PASEO COSTA DEL SUR,"Paseo Costa Del Sur, PR",NOT ACCEPTABLE,-66.22,None,2,PR,NaN,NaN,NA,0.38,-0.87,0.30,STANDARD,704
2,BDA SAN LUIS,US,False,NaN,18.14,NA-US-PR-BDA SAN LUIS,"Bda San Luis, PR",NOT ACCEPTABLE,-66.26,None,10,PR,NaN,NaN,NA,0.38,-0.86,0.31,STANDARD,709
3,CINGULAR WIRELESS,US,False,NaN,32.72,NA-US-TX-CINGULAR WIRELESS,"Cingular Wireless, TX",NOT ACCEPTABLE,-97.31,None,61391,TX,NaN,NaN,NA,-0.10,-0.83,0.54,UNIQUE,76166
4,FORT WORTH,US,False,4053.0,32.75,NA-US-TX-FORT WORTH,"Fort Worth, TX",PRIMARY,-97.33,None,61392,TX,2126.0,122396986.0,NA,-0.10,-0.83,0.54,STANDARD,76177